{% extends 'base.html.twig' %}


{% block title %}
    Filmes
{% endblock %}

{% block body %}
    <fieldset>
        <legend>Novo Filme</legend>

        {{form_start(form_filmes)}}
        {{form_widget(form_filmes)}}

        <button id="salvar" name="salvar" class="btn btn-primary pull-right" >Salvar</button>

        {{form_end(form_filmes)}}
    </fieldset>

{% endblock %}

{% block javascripts %}
    <script type="text/javascripot">
        $(document).ready(function(){
                    $('#filmes_genero').prepend('<option value="xxx">xxx</option>');
        });
    </script>
{% endblock %}