{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gênero</h1>
    <a href="{{path('genero_cadastro')}}" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="glyphicon glyphicon-film"></span>
                            Cadastrar Novo Gênero
                        </a>
    <table class='table-bordered col-md-12'>
        <tr>
            <th>Nome</th>
        </tr>
        {% for genero  in dados%}
        <tr>
            <td>{{ genero.nome}}</td>
        </tr>
        
        {% endfor %}
    </table>
{% endblock %}